body{
max-width: 1023px;
margin: auto;
background-color: #F5DEB3;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F7B097;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  nav {
    border: 2px solid rgb(0, 0, 0);
  }

  #title{
    text-align: center;
    margin-top: 20px;
  }

  section {
    margin-top: 15px;
    text-align: justify;
    border: 2px solid brown;
  }

  #imgBemutatkozas{
    width: 498px;
  }

  #imgTortenete{
    height: 300px;
    display: block;
    margin: auto;
  }

  #imgFagyizo{
    width: 498px;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 450px;
    height: 347px;
    margin: auto;
  }
  
  td, th {
    border: 1px solid brown;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: brown;
  }